<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Controller</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <input class="slider" type="range" orient="vertical" id="slider" onchange="setVol(this.value)" oninput="setVol(this.value)" min="1" max="100" />
        <p class="volstat" id="current-vol">-</p>
    </div>
    <script src="index.js"></script>
</body>
</html>