html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: none;
    scroll-behavior: smooth;
}

.main .slider {
    -webkit-appearance: slider-vertical;
    height: 80vh;
}

.main .slider::-webkit-slider-runnable-track {
    background: dimgray;
    border-radius: 20px;
}

.main .slider::-webkit-slider-thumb {
    background: lightskyblue;
}

.main .slider::-moz-range-track {
    background: dimgray;
    border-radius: 20px;
    width: 16px;
}

.main .slider::-moz-range-thumb {
    background: lightskyblue;
    border: 0;
}

.main .slider::-moz-range-thumb:hover {
    cursor:pointer;
}

.main .volstat {
    text-align: center;
}